h1{
    display: flex;
}

.flex-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
}


.myheader{
    height: 15%;
}

.big-pic{
    width: 66%;
    height: 33%;
}

.small-pic{
    width: 36%;
    height: 18%;
}
img{
    margin:2%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 1.5vw;
    transform: rotate(-90deg);
    left: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}